.env
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
models/
app/data/*.db
!app/data/default_vocab_topics.json
app/mcp/alarms.json
static/asset/*
!static/asset/Nexusbot.png
flow.png
app/mcp/BaoThuc.mp3
app/mcp/default_ringtone.wav
static/firmware/
logs/
